<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Notes Generator</title>
    <link rel="stylesheet" href="static/styles.css">
    <script type="text/javascript">
        function showLoading() {
            document.getElementById('loading').style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>watson investig8r</h1>
    <form method="post" onsubmit="showLoading()">
        <input type="text" name="topic" placeholder="What do you want to know about?" required >
        <button type="submit">Generate</button>
    </form>
    <div id="loading" style="display:none;"></div>
    <div style="width: 60%; text-align: left;">
        {{ summary | safe }}
    </div>
    {% if embedded_links %}
    <div style="width: 60%; margin-top: 20px;">
        <p>Refer to these YouTube videos if you want to learn more:</p>
        <table>
            {% for link in embedded_links %}
                {% if loop.index is odd %}
                    <tr>
                {% endif %}
                <td>
                    <iframe width="560" height="315" src="{{ link }}" frameborder="0" allowfullscreen></iframe>
                </td>
                {% if loop.index is even %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>
